.App {
  display: flex;
  flex-flow: row;
}
.active {
  outline: 1px solid red;
}

.todayschedule {
  width: 200px;
}
.todayschedule h2,
.todayschedule h3,
.todayschedule p {
  font-size: 14px;
  margin: 2px;
}
.scheduleblock {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}
.todayschedule > * {
  display: flex;
  padding: 4px;
  margin-bottom: 10px;
  justify-content: stretch;
  flex: 1;
  text-decoration: none;
  color: black;
}
.todayschedule > *:nth-child(2n + 1) {
  backdrop-filter: grayscale(50%);
}

.blue.blue {
  background-color: lightskyblue;
}
.yellow.yellow {
  background-color: rgb(233, 235, 149) ;
}
.todayschedule .inactive {
  backdrop-filter: opacity(30%);
}

.spotlight {
  display: flex;
  padding-left: 40px;
  flex-flow: column;
  justify-content: center;
  flex: 1;
}
.spotlight .eventlink {
  border: 2px solid #ddd;
  width: 500px;
  display: flex;
  text-decoration: none;
  color: black;
}
.spotlight .scheduleblock {
    padding: 16px;
}
.spotlight h2, .spotlight h3, .spotlight p {
  margin: 8px;
}
